global:
  scrape_interval: {{ scrape_interval }}
  evaluation_interval: {{ evaluation_interval }}
{% if scrape_timeout is defined %}
  scrape_timeout: "{{ scrape_timeout }}"
{% endif %}
rule_files:
  - {{ prometheus_rules_path }}/*.yml

scrape_configs:
{% for scrape_job in prometheus_scrape_jobs %}
  - job_name: "{{ scrape_job.name }}"
{% if scrape_job.metrics_path is defined %}
    metrics_path: "{{ scrape_job.metrics_path }}"
{% endif %}
{% if scrape_job.basic_auth | default(false) %}
    basic_auth:
      username: "{{ auth_basic_user }}"
      password_file: "{{ prometheus_password_path }}"
{% endif %}
    static_configs:
      - targets:
{% for target in scrape_job.targets %}
          - "{{ target }}"
{% endfor %}
{% endfor %}